<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
     <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
     <ul>
          <% errors.forEach(function(error) { %>
               <li><%= error %></li>
          <% }); %>
     </ul>
     </div>
<% } %>
