<form action="/favourite" method="POST">
     <input type="hidden" name="homeId" value="<%= home._id %>">
     <button type="submit" class="inline-block bg-[#ff385c] text-white px-6 py-2 rounded-full font-bold shadow hover:bg-[#e11d48] transition">Add to Favourite</button>
</form>